.main {
  font-size: 1rem;
  position: relative;
  margin: 0 auto;
  height: 80%;
  max-width: 1600px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 1em;
  background: rgba(50, 50, 50, 0.2);
}

.main .content {
  flex: 5;
  overflow: auto;
  padding: 2em;
  margin: 0.3em;
}

.main .content::-webkit-scrollbar {
  background: transparent;
  width: 0.7rem;
}

.main .content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 1);
  border-radius: 1rem;
}

li {
  list-style: none;
}

.main .bottom {
  font-size: 1rem;
  display: flex;
  flex: 1;
  align-items: center;
  gap: 1rem;
}
.bottom {
  padding: 1em;
  border-top: 1.5px solid rgba(202, 201, 201, 0.4);
}
