.user-input {
  height: 80%;
  background: white;
  display: flex;
  justify-content: space-between;
  flex: 1;
  border-radius: 0.3em;
}

textarea {
  overflow-y: hidden;
  resize: none;
  border: 1px solid transparent;
  border-radius: 1em;
  width: 95%;
}
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: unset;
}

.button-send {
  background: white;
  color: black;
  border-radius: 0.3em;
  padding: 1.5em;
}

.button-send svg {
  font-size: 2.5em;
}

.button-record svg {
  font-size: 1.5em;
}

.button-record {
  padding: 1em 1.2em;
  background: #cf5050;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px rgba(50, 50, 50, 0.2);
}
