@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

.user-input {
  font-size: 1rem;
  height: 80%;
  display: flex;
  justify-content: space-between;
  flex: 1;
  border-radius: 0.5em;
  background: rgba(50, 50, 50, 0.3);
}

textarea {
  background: transparent;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  overflow-y: hidden;
  resize: none;
  border: 1px solid transparent;
  border-radius: 1em;
  padding: 0.5em;
  width: 95%;
}
textarea:focus {
  outline: none;
}
textarea::placeholder {
  color: #fff;
}

button {
  cursor: pointer;
  border: unset;
}

.button-send {
  background: transparent;
  padding-inline: 1.2em;
  border-radius: 1em;
}

.button-send svg {
  font-size: 2.2em;
}
